<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284565461694-lcualgrbjn45nrh9aesbql35u2ug0pf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284565461694-lcualgrbjn45nrh9aesbql35u2ug0pf6</string>
	<key>API_KEY</key>
	<string>AIzaSyCmV_JGnzd24o5lj--Dif53C-eXHgCmmWU</string>
	<key>GCM_SENDER_ID</key>
	<string>284565461694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mm.com.aeonmicrofinance.vcsaeon.AEONVCS</string>
	<key>PROJECT_ID</key>
	<string>aeonvcs</string>
	<key>STORAGE_BUCKET</key>
	<string>aeonvcs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284565461694:ios:689910fce0d505a78adcef</string>
	<key>DATABASE_URL</key>
	<string>https://aeonvcs.firebaseio.com</string>
</dict>
</plist>